:root {
    --low-priotity-color: #00FF00;
    --medium-priority-color: #FF7D00;
    --high-priority-color: #FF0000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    /* width: 100vw;
    height: 100vh; */
}

/* Set the cursor to pointer */
button, input[type="radio"] {
    cursor: pointer;
}


section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10.8% 28.25% 5.86% 55%;
    /* grid-template-rows: 10.8% minmax(5.85%,28.25%) 5.86% 1fr; */
    /* grid-template-rows: 10.8% auto 5.86% 1fr; */
    width: 568px;
    height: 768px;
    
    background: #FEFDFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}
h1 {
    grid-row: 1;

    font-size: 4rem;

    text-align: center;
    align-self: center;
}
.add-task-container {
    grid-row: 2;

    display: flex;
    flex-direction: column;
    
    height: 100%;

    > div {
        border: none;
        outline: none;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.25rem;

        border-top: 2px black solid;

        background: #FEFDFF;

        font-size: 2rem;
        height: 20.74%;

        svg {
            height: 60%;
            /* transform: rotateX(180deg); */
        }
    }

    form {
        /* display: none !important; */
        height: 100%;

        background-color: #C1BFB5;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-bottom: 2px black solid;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        padding: 0.75rem 0.25rem;

        .task-name-input-container {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row: 1;

            height: 100%;
            width: 100%;

            display: flex;
            flex-direction: column;

            > label {
                font-size: 1.5rem;
            }

            > input {
                border: none;
                outline: none;

                height: 2rem;
                font-size: 1.5rem;

                background-color: #D9D9D9;
            }
        }

        .priority-container {
            grid-column: 1;
            grid-row: 2;

            height: 100%;
            width: 100%;

            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 59%;

            padding-top: 0.7rem;

            > label {
                grid-column-start: 1;
                grid-column-end: 4;

                font-size: 1.25rem;
            }

            > div {
                /* height: 100%; */

                display: flex;
                justify-content: space-evenly;
                align-items: center;

                position: relative;

                background-color: #D9D9D9;
                box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.15);
                border: rgba(255, 255, 255, 0.15) 1px solid;

                margin-right: 0.5rem;

                /* Remove the radio checker, and make the whole div clickable for check */
                input[type="radio"] {
                    appearance: none;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                }

                .priority-color-box {
                    height: 50%;
                    aspect-ratio: 1;
                }
                #low-priority-color-box {
                    background-color: var(--low-priotity-color);
                }
                #medium-priority-color-box {
                    background-color: var(--medium-priority-color);
                }
                #high-priority-color-box {
                    background-color: var(--high-priority-color);
                }
            }
            > div:has(input[type="radio"]:checked) {
                box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.15);
                border: rgba(0, 0, 0, 0.15) 1px solid;
                transform: translateY(10%);
            }
        }

        > .btn-container {
            grid-column: 2;
            grid-row: 2;

            height: 100%;
            width: 100%;

            padding-top: 0.7rem;
            padding-left: 5.375rem;

            > button {
                width: 100%;
                height: 100%;

                border: none;
                outline: none;
    
                text-align: center;
                font-size: 1.5rem;
    
                background-color: #D9D9D9;
                box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.15);
            }
            > button:active {
                box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.15);
                transform: translateY(10%);
            }
        }

    }
}
h2 {
    grid-row: 3;

    font-size: 2rem;

    align-content: end;

    border-bottom: 2px black solid;

    padding-left: 0.75rem;
}
.tasks-container {
    grid-row: 4;

    height: 100%;
    width: 100%;

    padding-top: 0.25rem;
    padding-bottom: 1.4rem;
    
    
    > ul {


        height: 100%;
        width: 100%;

        
        overflow-y: auto;
        scrollbar-gutter: stable; /* Create a space for the scrollbar without comprimosing the size of the elements inside. */
        scroll-behavior: smooth;

        padding-top: 0.25rem;
        padding-bottom: 1.4rem;
        padding-left: 0.75rem;
        
        list-style-position: inside;


        
    }
    ul::-webkit-scrollbar {
        width: 10px;
    }
    ul::-webkit-scrollbar-track {
        background: #D9D9D9;
    }
    ul::-webkit-scrollbar-thumb {
        background: #C1BFB5;
    }

}
.task-item-container {
    width: 100%;
    height: 3.5rem;

    display: flex;
    justify-content: space-between;

    background: #FEFDFF;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);

}
ul .task-item-container:not(:first-child) { /* Add margin between each list item, except first. */
    margin-top: 0.5rem;
}
.task {
    width: fit-content;
    height: 100%;

    align-content: center;
    
    font-size: 2rem;

    padding-left: 1rem;

    cursor: pointer;
}
.task::marker {
    content: "•";
}
.task-priority-color-box {
    height: 100%;
    aspect-ratio: 0.5;
}
.high-priority .task-priority-color-box {
    background-color: var(--high-priority-color);
}
.medium-priority .task-priority-color-box {
    background-color: var(--medium-priority-color);
}
.low-priority .task-priority-color-box {
    background-color: var(--low-priotity-color);
}

.task-done {
    text-decoration: line-through !important;
}




